<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html'%}
{% block body %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <input type="text" name="name" placeholder="enter name">
     <input type="text" name="desc" placeholder="enter desc">
     <input type="text" name="price" placeholder="enter price">
     <input type="file" name="img" >
     <input type="submit" placeholder="enter name">
</form>
{% endblock %}
</body>

</html>