{% extends 'base.html'%}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
           <img src="{{movies.img.url}}"><br>
        </div>
 <div class="col-md-6">
     <h2>{{movies.name}}</h2>
     <h4>{{movies.desc}}</h4>
     <h2>{{movies.price}}</h2>

<a  class= "btn btn-warning" href="{% url 'movieapp:add_movie' %}"> add</a>
<a  class= "btn btn-warning" href="{% url 'movieapp:update' movies.id %}"> update</a>
<a  class= "btn btn-danger" href="{% url 'movieapp:delete' movies.id %}"> delete</a>
        </div>
    </div>
</div>

{% endblock %}